source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.1

nuget Microsoft.NETCore.App.Ref 6.0.5
nuget NETStandard.Library.Ref 2.1.0
nuget FSharp.Core 6.0.5
nuget Expecto 9.0.4
